
<%= link_to 'home', root_path %>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.name %><br>
<%= @user.username %><br>
<%= @user.email %><br>

<h3>Events I created </h3>
<% @events.each do |event| %>
  <div class="event">
    <h3><%= event.title %></h3>
    <p><%= event.description %></p>
    <p><strong>Location:</strong> <%= event.location %></p>
    <p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
    <p><strong>Time:</strong> <%= event.time.strftime("%I:%M %p") %></p>
    <%= link_to 'Event page', event_path(event) %>
    <%= button_to 'Delete', event_path(event), method: :delete %>
    <%# <%= link_to attend_unattend_text(event), attend_unattend(event), method: :post %> 
  </div>
<% end %>

<h3> Attended events </h3>

<h2> Past Events </h2>

<% @past_attended_events.each do |event| %>
  <div class="event">
    <h3><%= event.title %></h3>
    <p><%= event.description %></p>
    <p><strong>Location:</strong> <%= event.location %></p>
    <p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
    <p><strong>Time:</strong> <%= event.time.strftime("%I:%M %p") %></p>
  </div>
<% end %>

<h2> Future Events </h2>
<% @future_attended_events.each do |event| %>
  <div class="event">
    <h3><%= event.title %></h3>
    <p><%= event.description %></p>
    <p><strong>Location:</strong> <%= event.location %></p>
    <p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
    <p><strong>Time:</strong> <%= event.time.strftime("%I:%M %p") %></p>
    <%= button_to attend_unattend_text(event), attend_unattend(event), method: :post %>
  </div>
<% end %>
