<%= form_with(model: @event) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time %>
  </div>

  <div class="field">
    <%= form.label :invite_only, "Invite Only event?" %>
    <%= form.check_box :invite_only %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Event' %>
  </div>
<% end %>
