<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h2> Past Events </h2>

<% @past_events.each do |event| %>
  <div class="event">
    <%= link_to event do %>
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
    <% end %>
    <p><strong>Location:</strong> <%= event.location %></p>
    <p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
    <p><strong>Time:</strong> <%= event.time.strftime("%I:%M %p") %></p>
    <%= button_to attend_unattend_text(event), attend_unattend(event), method: :post %>
  </div>
<% end %>

<h2> Future Events </h2>

<% @future_events.each do |event| %>
  <div class="event">
    <%= link_to event do %>
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
    <% end %>
    <p><strong>Location:</strong> <%= event.location %></p>
    <p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
    <p><strong>Time:</strong> <%= event.time.strftime("%I:%M %p") %></p>
    <%= button_to attend_unattend_text(event), attend_unattend(event), method: :post %>
  </div>
<% end %>

<%= form_with(model: @event) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Event' %>
  </div>
<% end %>

<%= render 'form' %>
